.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ipynb
*.gz
*.gz.?
*.keras
*.png
*.htm
*.html
*.zip
logs/*
*/*
Untitled1.Rmd
elephant.jpg
elephant_cam.jpg
jena_climate_2009_2016.csv
sampleSubmission.csv
test.Rmd
